* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 36px;
    min-height: 100vh;
    max-width: 80vh;
    color: #fff;
    background-color: #000;
    margin: 0 auto
}
img{
    width: 100%;
    height: auto;
}